@charset "UTF-8";
		.indexfoot{
			background-color:rgb(36,50,74);
			width:100%;
		
		}
		.aboutus> div> a{
			color:rgb(138,153,179);
			text-decoration:none;
		}
		.aboutus> div> a:hover{
			color:#26AE61;
		}
		
		.pager .previous a span{
			color:#26AE61;
		}
		.pager .previous a{
			color:#26AE61;
		}
		.pager .next a span{
			color:#26AE61;
		}
		.pager .next a{
			color:#26AE61;
		}
		.pagerdiscp{
			color:#A9A9A9;
			margin-top:-50px;
			width:100%;
			text-align:center;
			letter-spacing:3px
		}
		
		
